
        <br /><br /><br />
      <div class="container">
        <div class="well col-md-12">
          <h1>YOU DON'T NEED TO SHOP AROUND!</h1>
        <div class="home" id="home">
          <div class="slidePic">
            <div id="sampleCarousel" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#sampleCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#sampleCarousel" data-slide-to="1"></li>
              </ol>
              <div class="carousel-inner">
                <div class="item active">
                  <img src="/assets/sPic4.jpeg" class="sPic">
                  <div class="carousel-caption">

                  </div>
                </div>
                <div class="item">
                  <img src="/assets/sPic3.jpeg"  class="sPic"/>
                  <div class="carousel-caption">

                  </div>
                </div>
                <div class="item">
                  <img src="/assets/sPic2.jpeg"  class="sPic"/>
                  <div class="carousel-caption">
                  </div>
                </div>
              </div>
              <a href="#sampleCarousel" class="left carousel-control"
                 role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a href="#sampleCarousel" class="right carousel-control"
                 role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
              <a href="#sampleCarousel" class="right carousel-control"
                 role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      </div>
<hr/>
  <div class="container">
    <h2>PRODUCTS</h2>
    <div class="products" id="products">
      <br /><br /><br />
      <div class="col-md-4">
        <div class="well">
          <img src="/assets/cancan20.jpg" class="proPic">
            <%= link_to 'CAN GOODS SECTION', section_sec1_path, class: 'btn btn-success btn-lg sec1'%>
        </div>
      </div>

      <div class="col-md-4">
        <div class="well">
          <img src="/assets/NOOD.jpeg" class="proPic">
          <%= link_to 'NOODLES SECTION', section_sec2_path, class: 'btn btn-success btn-lg sec2'%>
        </div>
      </div>

      <div class="col-md-4">
        <div class="well">
          <img src="/assets/milk.jpg" class="proPic">
          <%= link_to 'POWDERED MILK SECTION', section_sec3_path, class: 'btn btn-success btn-lg sec3'%>
        </div>
      </div>

      <div class="col-md-4">
        <div class="well">
          <img src="/assets/kendi.jpg" class="proPic">
          <%= link_to 'CANDIES SECTION', section_sec4_path, class: 'btn btn-success btn-lg sec4'%>
        </div>
      </div>

      <div class="col-md-4">
        <div class="well">
          <!--<img src="/assets/drinks/image1.jpeg" class="proPic">-->
          <%= link_to 'DRINKS SECTION', section_sec5_path, class: 'btn btn-success btn-lg sec5'%>
        </div>
      </div>

      <div class="col-md-4">
        <div class="well">
          <img src="/assets/shampoo/image1.jpeg" class="proPic">
          <%= link_to 'SOAP AND SHAMPOO SECTION', section_sec6_path, class: 'btn btn-success btn-lg sec6'%>
        </div>
      </div>
    </div>
  </div>

<hr/>
        <div class="container">
          <h2>FEATURES</h2>
          <div class="features" id="features">
          </div>
        </div>



        <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button class="close" data-dismiss="modal">
                  &times;
                </button>
                <h3>REGISTERED NEW ACCOUNT</h3>
              </div>
              <div class="modal-body">
                <form action="form-group">
                  <form action="form-group">
                    <label>Email Address: </label>
                    <input type="text" name="Email Address" class="form-control"/>
                  </form>
                  <form action="form-group">
                    <label>Fullname: </label>
                    <input type="text" name="fullname" class="form-control"/>
                  </form>
                  <label>Username: </label>
                  <input type="text" name="username" class="form-control"/>
                </form>
                <form action="form-group">
                  <label>Password: </label>
                  <input type="password" name="password" class="form-control"/>
                </form>
                <form action="form-group">
                  <label>Contact no. : </label>
                  <input type="text" name="Contact" class="form-control"/>
                </form>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary">Register</button>
                <button class="btn btn-danger" data-dismiss="modal">close</button>
              </div>
            </div>
          </div>
        </div>

