<div class="container">
<h2 class="sec">CANDIES SECTION</h2>
<br /><br/><br/><br /><br />

<div class="col-md-3">
  <div class="well">
    <%= image_tag('candy.jpeg', class: 'secPic') %>
    <p class="priceTag">PRICE: $20.00</p>
    <button class="btn btn-primary btn-sm popover-trigger" data-toggle="popover"
            title="select" data-content="This delicacy cost P500.00">BUY !</button>
  </div>
</div>

<div class="col-md-3">
  <div class="well">
    <%= image_tag('candy.jpeg', class: 'secPic') %>
    <p class="priceTag">PRICE: $20.00</p>
    <button class="btn btn-primary btn-sm popover-trigger" data-toggle="popover"
            title="select" data-content="This delicacy cost P500.00">BUY !</button>
  </div>
</div>

<div class="col-md-3">
  <div class="well">
    <%= image_tag('candy.jpeg', class: 'secPic') %>
    <p class="priceTag">PRICE: $20.00</p>
    <button class="btn btn-primary btn-sm popover-trigger" data-toggle="popover"
            title="select" data-content="This delicacy cost P500.00">BUY !</button>
  </div>
</div>

<div class="col-md-3">
  <div class="well">
    <%= image_tag('candy.jpeg', class: 'secPic') %>
    <p class="priceTag">PRICE: $20.00</p>
    <button class="btn btn-primary btn-sm popover-trigger" data-toggle="popover"
            title="select" data-content="This delicacy cost P500.00">BUY !</button>
  </div>
</div>

<div class="col-md-3">
  <div class="well">
    <%= image_tag('candy.jpeg', class: 'secPic') %>
    <p class="priceTag">PRICE: $20.00</p>
    <button class="btn btn-primary btn-sm popover-trigger" data-toggle="popover"
            title="select" data-content="This delicacy cost P500.00">BUY !</button>
  </div>
</div>

<div class="col-md-3">
  <div class="well">
    <%= image_tag('candy.jpeg', class: 'secPic') %>
    <p class="priceTag">PRICE: $20.00</p>
    <button class="btn btn-primary btn-sm popover-trigger" data-toggle="popover"
            title="select" data-content="This delicacy cost P500.00">BUY !</button>
  </div>
</div>

<div class="col-md-3">
  <div class="well">
    <%= image_tag('candy.jpeg', class: 'secPic') %>
    <p class="priceTag">PRICE: $20.00</p>
    <button class="btn btn-primary btn-sm popover-trigger" data-toggle="popover"
            title="select" data-content="This delicacy cost P500.00">BUY !</button>
  </div>
</div>

<div class="col-md-3">
  <div class="well">
    <%= image_tag('candy.jpeg', class: 'secPic') %>
    <p class="priceTag">PRICE: $20.00</p>
    <button class="btn btn-primary btn-sm popover-trigger" data-toggle="popover"
            title="select" data-content="This delicacy cost P500.00">BUY !</button>
  </div>
</div>

<div class="col-md-3">
  <div class="well">
    <%= image_tag('candy.jpeg', class: 'secPic') %>
    <p class="priceTag">PRICE: $20.00</p>
    <button class="btn btn-primary btn-sm popover-trigger" data-toggle="popover"
            title="select" data-content="This delicacy cost P500.00">BUY !</button>
  </div>
</div>

<div class="col-md-3">
  <div class="well">
    <%= image_tag('candy.jpeg', class: 'secPic') %>
    <p class="priceTag">PRICE: $20.00</p>
    <button class="btn btn-primary btn-sm popover-trigger" data-toggle="popover"
            title="select" data-content="This delicacy cost P500.00">BUY !</button>
  </div>
</div>

<div class="col-md-3">
  <div class="well">
    <%= image_tag('candy.jpeg', class: 'secPic') %>
    <p class="priceTag">PRICE: $20.00</p>
    <button class="btn btn-primary btn-sm popover-trigger" data-toggle="popover"
            title="select" data-content="This delicacy cost P500.00">BUY !</button>
  </div>
</div>

<div class="col-md-3">
  <div class="well">
    <%= image_tag('candy.jpeg', class: 'secPic') %>
    <p class="priceTag">PRICE: $20.00</p>
    <button class="btn btn-primary btn-sm popover-trigger" data-toggle="popover"
            title="select" data-content="This delicacy cost P500.00">BUY !</button>
  </div>
</div>

<div class="col-md-3">
  <div class="well">
    <%= image_tag('candy.jpeg', class: 'secPic') %>
    <p class="priceTag">PRICE: $20.00</p>
    <button class="btn btn-primary btn-sm popover-trigger" data-toggle="popover"
            title="select" data-content="This delicacy cost P500.00">BUY !</button>
  </div>
</div>

<div class="col-md-3">
  <div class="well">
    <%= image_tag('candy.jpeg', class: 'secPic') %>
    <p class="priceTag">PRICE: $20.00</p>
    <button class="btn btn-primary btn-sm popover-trigger" data-toggle="popover"
            title="select" data-content="This delicacy cost P500.00">BUY !</button>
  </div>
</div>

<div class="col-md-3">
  <div class="well">
    <%= image_tag('candy.jpeg', class: 'secPic') %>
    <p class="priceTag">PRICE: $20.00</p>
    <button class="btn btn-primary btn-sm popover-trigger" data-toggle="popover"
            title="select" data-content="This delicacy cost P500.00">BUY !</button>
  </div>
</div>

<div class="col-md-3">
  <div class="well">
    <%= image_tag('candy.jpeg', class: 'secPic') %>
    <p class="priceTag">PRICE: $20.00</p>
    <button class="btn btn-primary btn-sm popover-trigger" data-toggle="popover"
            title="select" data-content="This delicacy cost P500.00">BUY !</button>
  </div>
</div>
</div>