
img.img1 {
    height: 80px;
    width: 350px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.header{
    background-color: darkcyan;
    border-bottom: solid 5px mediumseagreen;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    margin-top: 50px;
    font-size: 20px;
    margin-right: 25px;
}
.navbar-default {
    background-color: darkcyan;
    border-top:5px solid mediumseagreen;
    height: 80px;
}
