body {
    background-image: url("/assets/BGR.jpeg");
    background-repeat:  repeat;
}



h1 {
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
    color: #357ebd;
}

hr {
    height: 5px;
    background-color: mediumseagreen;
}

.proPic{
    width: 305px;
    height: 200px;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bolder;
    color: #ffffff;
    float: right;
    font-size: 30px;
}

.sPic {
    width: 100%;
}
.item{
    height:500px
}
/*this is for my products section*/
h2.sec {
    float: right;
    margin-left: 500px;
    margin-top: 50px;
}

.secPic {
    height: 200px;
    width: 215px;
}

.priceTag {
    font-size: 20px;
    color: green;
    text-align: center;
    padding: 5px;
    font-weight: bolder;
}

.btn-primary {
    margin: auto;
}
.anchor-white{
    color: #ffffff;
}

.sec1 {
    margin-left: 30px;
    margin-top: 5px;
}

.sec2 {
    margin-left: 40px;
    margin-top: 5px;
}

.sec3 {
    margin-left: 15px;
    margin-top: 5px;
}

.sec4 {
    margin-left: 48px;
    margin-top: 5px;
}

.sec5 {
    margin-left: 50px;
    margin-top: 5px;
}

.sec6 {
    margin-left: auto;
    margin-top: 5px;
}
