<!DOCTYPE html>
<html>
<head>
  <title>SSSThesis</title>
  <%= stylesheet_link_tag 'application', media: 'all',  'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-default">
      <div class="header">
        <div class="navbar-header">
          <button class="navbar-toggle" data-toggle="collapse" data-target="#navbarToggle">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button><br />
          <img src="/assets/logo.png" class="img1">
        </div>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#home">Home</a> </li>
            <li><a href="#products">Products</a> </li>
            <li><a href="#features">Features</a> </li>
            <li><a href="#myModal" data-toggle="modal">
              <span class="glyphicon glyphicon-off"></span>
              SIGN-UP</a></li>
          </ul>
        </div>
      </div>
    </nav>

<%= yield %>

</body>

</html>
